*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
body{
    background: #f8f8f9;
    user-select:none;
}
header{
    height:48px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    line-height: 48px;
}
.header-title{
    float: left;
    margin-left: 32px;
    color:#fff;
}
.header-menu-cart{
    float: right;
    margin-right: 32px;
    color:#fff;
}
.header-menu-cart span{
    display: inline-block;
    height:20px;
    width:20px;
    line-height: 20px;
    text-align: center;
    background: #ff5500;
    color:#fff;
    border-radius: 50%;
    font-size: 14px;
    position: relative;
    top: -1px;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
